.direnv/

# Ignore docs files
_gh_pages
_site
.ruby-version
Gemfile.lock
RAKEFILE
.jekyll-cache
.jekyll-metadata

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.ttf
*.tar
*.m4v
*.mp4
*.mp3
*.mov

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.editorconfig

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
bower_components
