---
layout: page
title: archive
---

<ul>
{% assign issues = site.pages | sort:"url" %}
{% for issue in issues %}
	{% if issue.slug %}
    <li class="toc-issue">
        <p class="toc-title"><a href="{{ site.baseurl }}{{ issue.url }}">
          {{ issue.title }}
        </a> — <span class="issue-date">{{ issue.release }}</span></p>             
    </li>
    {% endif %}
{% endfor %} 
</ul>
<hr>
<p>LOCKSS system has permission to collect, preserve, and serve this open access Archival Unit<img SRC="{{ site.baseurl }}/public/LOCKSS.png" height="69" width="69" alt="LOCKSS logo"/>
<p>
