
/*
  _____________  ___  _____   
 /   _____/\   \/  / /  _  \  
 \_____  \  \     / /  /_\  \ 
 /        \ /     \/    |    \
/_______  //___/\  \____|__  /
        \/       \_/       \/ 

*/

body {
    color: #444;
    font-size: 18px;
    line-height: 25px
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #D0181F;
    font-size: 48px;
    font-weight: 100;
    margin: 0 0 24px
}

h2, h3, h4, h5, h6 {
    color: #D0181F;
    font-weight: 100;
    margin: 0 0 24px
}



p {
    margin-bottom: 1em;
    letter-spacing: .005rem;
}

/* Another possible value: 810006 */

a {
    color: #A80911
}

/* ************* */
/* Page features */
/* ************* */

h1.page-title {
	color: #D0181F;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.abstract {
  font-size: .8rem;

}

/* Footnotes */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}