	<hr>
<div class="footer-menu">
	<ul id="footer-menu">
	<li><a class="footer-menu-item" href="http://smallaxe.net/">Small Axe</a></li>
	<li><a class="footer-menu-item" href="http://smallaxe.net/sx-salon">SX Salon</a></li>
	<li><a class="footer-menu-item-active" href="http://smallaxe.net/sxarchipelagos">SX Archipelagos</a></li>
	<li><a class="footer-menu-item" href="http://smallaxe.net/sx-visualities">SX Visualities</a></li>
	<li><a class="footer-menu-item" href="http://smallaxe.net/literary-competition">Literary Competition</a></li>
</div>