	<hr>
<div class="footer-menu">
	<ul id="footer-menu">
	<li><a class="footer-menu-item" href="http://smallaxe.net/sx">Small Axe</a></li>
	<li><a class="footer-menu-item" href="http://smallaxe.net/sxsalon">SX Salon</a></li>
	<li><a class="footer-menu-item-active" href="http://smallaxe.net/sxarchipelagos">SX Archipelagos</a></li>
	<li><a class="footer-menu-item" href="http://smallaxe.net/sxvisualities">SX Visualities</a></li>
	<li><a class="footer-menu-item" href="http://smallaxe.net/literarycompetition">Literary Competition</a></li>
	</ul>
</div>