<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
      <!--   Dublin Core metadata for Zotero -->  
    <meta name="DC.title" content="{% if page.layout !="article" %}sx archipelagos{% else %}{{ page.title['long'] }}{% endif %}"/>
    <meta name="DC.creator" content="{% for author in page.author %}{% if forloop.length == 1 %}{{ author.name }}{% elsif forloop.length == 2 %}{% if forloop.last == true %} and {{ author.name }}{% else %}{{ author.name }}{% endif %}{% else %}{% if forloop.last == true %}and {{ author.name }}{% else %}{{ author.name }}, {% endif %}{% endif %}{% endfor %}" />
    <meta name="DC.date" content="{{ page.date }}" />
    <meta name="DC.rights" content="{{ page.rights }}" />
    <meta name="DC.source" content="{{ site.title }}" />
    
    <!-- Open Graph metadata -->
    <meta property="og:title" content="{% if page.layout !="article" %}sx archipelagos{% else %}{{ page.title['long'] }}{% endif %}"/>
    <meta property="og:author" content="{% for author in page.author %}{% if forloop.length == 1 %}{{ author.name }}{% elsif forloop.length == 2 %}{% if forloop.last == true %} and {{ author.name }}{% else %}{{ author.name }}{% endif %}{% else %}{% if forloop.last == true %}and {{ author.name }}{% else %}{{ author.name }}, {% endif %}{% endif %}{% endfor %}"/>
    <meta property="og:book:release_date" content="{{ page.date }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:image" content="http://smallaxe.net{{site.baseurl}}/public/open-graph-logo.png"/> 

    <title>sx archipelagos</title>  

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400"> 

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico"> 

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>
