<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
    <p><em>sx archipelago</em> is part of the Small Axe Project. To learn more visit our project platforms below.</p>
  </div>


  <nav class="sidebar-nav">
 
          <a class="sidebar-nav-item" href="http://smallaxe.net/">Small Axe</a>
          <a class="sidebar-nav-item" href="http://smallaxe.net/sx-salon">SX Salon</a>
          <a class="sidebar-nav-item" href="http://smallaxe.net/sx-visualities">SX Visualities</a> 
          <a class="sidebar-nav-item" href="http://smallaxe.net/literary-competition">Literary Competition</a> 
          <a class="sidebar-nav-item" href="http://smallaxe.net/people">People</a>
          <a class="sidebar-nav-item" href="http://smallaxe.net/archive">Archive</a>   
  </nav>




  <div class="sidebar-footer">
    <p>
      &copy; {{ site.time | date: '%Y' }}. Small Axe, Inc. Offered with a CC-BY 4.0 International License. Source documents can be found on our <a href="{{ site.url }}">repository</a>
    </p>
  </div>
</div>
