<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
{% if page.layout == "article" or page.layout == "review" %}
    <div class="sidebar-item">
    <p>{{ site.title }} | {{ site.description }}</p>
    <p class="sidebar-title">{{ page.title["long"] }}</p>
    <p>
  {% for author in page.author %}
    {% if forloop.last == true %}
      <span class="author">{{ author.name }}</span>
    {% else %}
      <span class="author">{{ author.name }}</span>, 
    {% endif %}
  {% endfor %}
    </p>
  </div>
{% else %}
  <div class="sidebar-item">
    <p>{{ site.title }} | {{ site.description }}</p>
    <p class="sidebar-title">{{ page.title }}</p>
  </div>
{% endif %}


  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

<!--
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
-->

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}


    
  </nav>



  <div class="sidebar-footer">
    <p>
      &copy; {{ site.time | date: '%Y' }}. Small Axe, Inc. Offered with a CC-BY 4.0 International License. Source documents can be found on our <a href="{{ site.github.repo }}">repository</a>
    </p>
  </div>
</div>
