<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
         styles, `#sidebar-checkbox` for behavior. -->
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">    

    <!-- Toggleable sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar-item">
        {% if page.layout != "article" %}
        <p><em>archipelagos</em>—a journal of Caribbean digital praxis.</p>
        {% else %}

        <h1 class="article-title">{{page.title["long"]}}</h1>
        <p>{% include author-loop.html %}</p>
        <p>Issue ({{page.issue}}) | {{ page.date | date: '%B %Y'}} <br>DOI: {{ page.doi }}</p>

        {% endif %}
      </div>
      <nav class="main-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/index.html">Home</a>  
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{% t title.about %}</a>
    </nav>


      <div class="sidebar-footer">
        <p>&copy; {{ site.time | date: '%Y' }}. Archipelagos. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. Source documents can be found on our <a href="{{ site.githuburl }}">repository</a></p>
        <p>ISSN: {{ site.issn }}</p>
      </div>
    </div>
