
<!-- Table of Contents -->
<div id="toc">

<!-- Introductory material -->
<ul>

{% assign documents = (include.issue | sort: 'order') %}  

<h3>Introduction</h3>

{% for document in documents %}
  {% if document.section == "introduction" %}

    <li>
      <a href="{{ document.url | prepend:site.baseurl }}">
        <span class="toc-title">{{ document.title["long"] }}</span>
      </a><br>
    <span class="byline"> 
    {% include author-loop.html %}
    </span>
  </a>
    </li>

  {% endif %}
{% endfor %} 
</ul>

<ul>
<h3>Essays</h3>
{% for document in documents %}
  {% if document.section == "articles" %}


    <li>
      <a href="{{ document.url | prepend:site.baseurl }}">
        <span class="toc-title">{{ document.title["long"] }}</span>
      </a><br>
    <span class="byline">
    {% include author-loop.html %}

    </span>
    <!-- PDF -->
    <p>
      <a class="alt-link" href="{{ site.baseurl }}/assets{{ document.url | replace:'.html','.pdf' }}" target="_blank">PDF</a> 
    </p>
    </li>

  {% endif %}
{% endfor %}
</ul>


<ul>
<h3>Digital Projects</h3>



{% for document in documents %}
  {% if document.section == "projects" %}

    <li>
      <a href="{{ document.url | prepend:site.baseurl }}">
        <span class="toc-title">{{ document.title["long"] }}</span>
      </a><br>
    <span class="byline"> 
        {{ document.credit }}
    </span><br>
    <a class="alt-link" href="{{ document.url | prepend:site.baseurl }}">Read our exchange</a><span class="alt-link"> | </span><a class="alt-link" href="{{ document.link }}" target="_blank">Visit the Project Site</a>
    <a class="alt-link" href="{{ document.link }}" target="_blank"><img class="project-image-toc" src="{{site.baseurl}}/{{ document.image }}" width="33%" /></a>
    </li>

  {% endif %}
{% endfor %} 
</ul>



<ul>
<h3>Digital Project Reviews</h3>
{% for document in documents %}
  {% if document.section == "reviews" %}

    <li>
      <a href="{{ document.url | prepend:site.baseurl }}">
        <span class="toc-title">{{ document.title["long"] }}</span>
      </a><br>
    <span class="byline">
  {% include author-loop.html %}

    </span>
    <!-- PDF -->
    <p>
      <a class="alt-link" href="{{ site.baseurl }}/assets{{ document.url | replace:'.html','.pdf' }}" target="_blank">PDF</a>     
    </p>
    </li>

  {% endif %}
{% endfor %}
</ul>
</div>