
<!-- Table of Contents -->
<div id="toc">

<!-- Introductory material -->
<ul>

{% assign articles = (include.issue | sort: 'order') %}  

<h3>Introduction</h3>

{% for page in articles %}
  {% if page.section == "introduction" %}

    <li>
      <a href="{{ page.url | prepend:site.baseurl }}">
        <span class="toc-title">{{ page.title }}</span>
      </a><br>
    <span class="byline"> 
    {% include author-loop.html %}
    </span>
    </li>

  {% endif %}
{% endfor %} 
</ul>

<ul>
<h3>Essays</h3>
{% for page in articles %}
  {% if page.section == "articles" %}


    <li>
      <a href="{{ page.url | prepend:site.baseurl }}">
        <span class="toc-title">{{ page.title["long"] }}</span>
      </a><br>
    <span class="byline">
    {% include author-loop.html %}

    </span>
    <!-- PDF -->
    <p>
      <a class="alt-link" href="{{ site.baseurl }}/assets{{ page.url | replace:'.html','.pdf' }}" target="_blank">PDF</a> 
    </p>
    </li>

  {% endif %}
{% endfor %}
</ul>


<ul>
<h3>Digital Projects</h3>



{% for page in articles %}
  {% if page.section == "projects" %}

    <li>
      <a href="{{ page.url | prepend:site.baseurl }}">
        <span class="toc-title">{{ page.title["long"] }}</span>
      </a><br>
    <span class="byline"> 
        {% include author-loop.html %}
    </span><br>
    <a class="alt-link" href="{{ page.url | prepend:site.baseurl }}">Read our exchange</a><span class="alt-link"> | </span><a class="alt-link" href="{{ page.link }}" target="_blank">Visit the Project Site</apage    <a class="alt-link" href="{{ page.link }}" target="_blank"><img class="project-image-toc" src="{{site.baseurl}}/{{ page.thumb }}" width="33%" /></a>
    </li>

  {% endif %}
{% endfor %} 
</ul>



<ul>
<h3>Digital Project Reviews</h3>
{% for page in articles %}
  {% if page.section == "reviews" %}

    <li>
      <a href="{{ page.url | prepend:site.baseurl }}">
        <span class="toc-title">{{ page.title["long"] }}</span>
      </a><br>
    <span class="byline">
  {% include author-loop.html %}

    </span>
    <!-- PDF -->
    <p>
      <a class="alt-link" href="{{ site.baseurl }}/assets{{ page.url | replace:'.html','.pdf' }}" target="_blank">PDF</a>     
    </p>
    </li>

  {% endif %}
{% endfor %}
</ul>
</div>