---
layout: default
---

<div class="article">
  <h1 class="page-title">{{ page.title["long"] }}</h1>
  <p class="byline"> 
  {% assign document = page %}  
  {% include author-loop.html %}

    </p>
  <br>
  {% if page.abstract %}  
<h4>Abstract</h4>
<p class="abstract">{{page.abstract}}</p>
<br><hr><br>
  {% endif %}
  {{ content }}
</div>
<hr>
<div class="footer">
	<ul id="footer-nav">
		<li><a href="#">Return to top</a></li>
		<li> | </li>
		<li><a href="{{site.baseurl}}/index.html#toc">Table of Contents</a></li>

		{% capture next_page %}{{ page.order | plus: 1 }}{% endcapture %}
		{{next_page}}
		<li> | </li>
		<li>Next Article</li>
	</ul>
</div>