<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="layout-reverse">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <a id="logo" href="{{site.baseurl}}"><img src="{{ site.baseurl }}/public/logo.png" height="64px" width="72px" alt="archipelagos logo"/></a>
        {% unless page.title == "home" %}
        <span class="running-title"><a href="/">archipelagos</a></span>
        {% endunless %}

<!--         <a class="header-title" href="{{ site.baseurl }}/index.html">archipelagos</a> -->

       
      </div>

      <div class="container content">
        {{ content }}
      </div>

    </div>

    {% include footer.html %}

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script type="text/javascript" src="{{site.baseurl}}/public/js/main.js"></script>

    {% if page.script %}

    <script src="{{site.baseurl}}/public/js/special/{{page.script}}"></script>

    {% endif %}

    <script type="text/javascript">
    // adds a target="_blank" to any link that is not part of the current domain

(function() {
  var links = document.links;
  for (var i = 0, linksLength = links.length; i < linksLength; i++) {
    // can also be
    //  links[i].hostname != 'subdomain.example.com'
    if (links[i].hostname != window.location.hostname) {
      links[i].target = '_blank';
      links[i].className += ' externalLink';
    }
  }
})();</script>

<!-- Facebook SDK for JavaScript -->
  </body>
</html>
