<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="layout-reverse">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <a id="logo" href="http://smallaxe.net" alt="small axe logo"><img src="{{ site.baseurl }}/public/logo.svg" height="40px" width="52px"/></a>

        {% include menu.html %}
       
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script type="text/javascript" src="/public/js/main.js"></script>
    <script type="text/javascript">
    // adds a target="_blank" to any link that is not part of the current domain

(function() {
  var links = document.links;
  for (var i = 0, linksLength = links.length; i < linksLength; i++) {
    // can also be
    //  links[i].hostname != 'subdomain.example.com'
    if (links[i].hostname != window.location.hostname) {
      links[i].target = '_blank';
      links[i].className += ' externalLink';
    }
  }
})();</script>
  </body>
</html>
