---
layout: default
---

<div class="project">
  <h1 class="page-title">{{ page.title["long"] }}</h1>
  <a href="{{ page.link }}">
  	<img class="project-image" src="{{site.baseurl}}/{{ page.image }}"/>
  </a>
  {{ content }}
  {% include bios.html %}
</div>
<div class="footer">
			<ul id="footer-nav">
				<li><a href="#">Return to top</a></li>
				<li> | </li>
				{% for index in site.archives %}{% if index.issue == page.collection %}<li><a href="{{site.baseurl}}/archives/{{ page.collection }}.html">Table of Contents</a></li>{% endif %}{% endfor %}
			</ul>
</div>